// Arquivo css
mat-sidenav-content {
    min-height: 100vh;
    
}

mat-sidenav {
    width: 280px;
}

.example-spacer {
    flex: 1 1 auto;
  }

mat-toolbar {
    height: 48px;
}

.close button {
    background:none;
    color:black;
    border-style:none;
    left:220px;
    position:relative;
    mat-icon {
        font-size:0,9rem;
    }
}