* {
    width: 100%;
    text-align: center;
    font-size: 16px;
    
}

.categorias-titulo{
    text-align: left;
}

img {
    border-radius: 50%;
    object-fit: cover;
    border: 0.5px solid rgb(0, 0, 0);
}

